extends app/templates/layout

block content
  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto accusamus a, ipsa quasi exercitationem? Reprehenderit!
  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum, debitis voluptates!

//- block content
//-   include includes/article
//-   include includes/article
//-   include includes/article
