div Login Page

  .loginFormPanel

    .flexInput
      span.flexInput__addOn User Name
      input.flexInput__input(
        type="text"
        [(ngModel)]="userName"
        "#userNameRef"="ngModel"
        required
        minlength="5"
      )

    .input.error(*ngIf="userNameRef.errors?.required") This is a required field.
    .input.error(*ngIf="userNameRef.errors?.minlength") The value must 5 characters or longer.

    //- p User Name captured: {{ userNameRef.valid }}
    //- p User Name captured: {{ userNameRef.errors | json }}
