div Login Page

  .loginFormPanel

    .flexInput
      span.flexInput__addOn User Name
      input(type="text" ngModel="userName").flexInput__input

    .flexInput
      span.flexInput__addOn User Name
      input(type="text" [ngModel]="userName").flexInput__input

    .flexInput
      span.flexInput__addOn User Name
      input(type="text" [(ngModel)]="userName").flexInput__input

    p User Name captured: {{ userName }}
