:host {

  .loginFormPanel {
    display: block;
    padding: 25px 25px 10px 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
    background-color: #fff;

    .flexInput {
      display: flex;
      margin-bottom: 1.5em;
    }

    .flexInput__input {
      flex: 1;
    }
    .flexInput__input:not(:first-child) {
      border-left: 0;
    }
    .flexInput__input:not(:last-child) {
      border-right: 0;
    }

    .flexInput__addOn {
      background-color: rgba(147, 128, 108, 0.1);
      color: #666666;
      font: inherit;
      font-weight: normal;
    }

    .flexInput__input,
    .flexInput__addOn {
      border: 1px solid rgba(147, 128, 108, 0.25);
      padding: 0.5em 0.75em;
    }

    .flexInput__input:first-child,
    .flexInput__addOn:first-child {
      border-radius: 2px 0 0 2px;
    }
    .flexInput__input:last-child,
    .flexInput__addOn:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

}
