doctype html
html(lang='eng')
  head
    title User List
    style(type='text/css')
      |  * {
      |    font-family: Helvetica, Arial, sans-serif;
      | }
      | div {
      |   display: flex;
      |   align-items: center;
      |   padding: 1em;
      |   font-size: 1.2em;
      | }
      | div a {
      |   padding-left: 0.5em;
      | }
  body
    each user in users
      div
        img(src="/profilepics/" + user.username + "_sm.jpg" alt="")
        a(href='/' + user.username)= user.name.full

