.menu
  .menuItem
    a("routerLink"="") Home
  .menuItem
    a("routerLink"="news") News
  .menuItem
    a("routerLink"="tour") Tour
  .menuItem
    a("routerLink"="video") Video
  .menuItem
    a("routerLink"="music") Music

  br

  router-outlet