.header
  .nav
    ul.menu
      li 
        a("routerLink"="") Home
      li 
        a("routerLink"="news") News
      li 
        a("routerLink"="tour") Tour
      li 
        a("routerLink"="video") Video
      li 
        a("routerLink"="music") Music

.contentWrapper
  router-outlet