$media-image-box-color: $color-black;
$media-font-size: $site-font-size;

.contentContainer--mediaPhotoContent {
  // background-color: tomato;

	display: block;
	clear: both;
  box-sizing: border-box;

	width: 100%;
  margin-top: 60px;
  padding-bottom: 60px;

	margin-right: auto;
	margin-left: auto;

	@include break(md) {
		max-width: 60rem;
	}

	@include break(xl) {
		max-width: 70rem;
	}

  .galleryTitle {
    text-align: center;
    font-size: $media-font-size * 2.0;
    line-height: 1.2;
  }

  .gridSizer,
  .grid {
    width: 32%;

    /* vertical gutter */
    margin-bottom: 20px;
  }

  .imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background: none;

    width: 100%;

    .imageFrame {
      padding: 0 3% 20px;

      .imageFrame__inner {
        position: relative;

        .imageFrame__mask {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          box-shadow: inset 0 0 5px 2px rgba($media-image-box-color,.07);
        }
      }
    }

    .imagePanel {

      flex: 1;

      padding: 0;

      min-width: 50%;
      max-width: 50%;

      @include break(md) {
        min-width: 33.33%;
        max-width: 33.33%;
      }
    }

  }
}

