.blockquotes
  p Blog admin menu:
    span(*ngIf="currentUser") {{currentUser}} Logged in

.navbar
  ul.menu
    li
      a((click)="chooseMode('add')") Add Post
    li(*ngIf="menuChoice")
      a((click)="chooseMode('')") Manage Blog
    li
      a([routerLink]="['/admin']") Admim
    li(*ngIf="currentUser")
      a((click)="logout") Logout


.container([ngSwitch]="menuChoice")
  .row(*ngSwitchCase="'add'")
    .column
      add-menu

  .row(*ngSwitchDefault)
    .column(*ngIf="formDisplay")
      .row(*ngFor="let post of blogPosts")
        .column
          .media
            img([src]="post.img").media__figure.image
            .media__body
              h4.media__tile {{post.title}}
              p {{post.content}}

    .column(*ngIf="!formDisplay")
      p formDisplay = false
