.blockquotes
  p Blog admin menu:
    span(*ngIf="currentUser") {{currentUser}} Logged in

.navbar
  ul.menu
    li
      a((click)="chooseMode('add')") Add Post
    li(*ngIf="menuChoice")
      a((click)="chooseMode('')") Manage Blog
    li
      a([routerLink]="['/admin']") Admim
    li(*ngIf="currentUser")
      a((click)="logout") Logout


.container([ngSwitch]="menuChoice")
  .row(*ngSwitchCase="'add'")
    .column
      add-menu
