doctype
html
  head
    title Webpack2 Setup

  body
    .utilityNav.js-utilityNav
      h2 Social Links

    .semiNav.js-semiNav
      h2 Semi Navigation

    .siteNav.js-siteNav
      h2 Site Navigation

    .carousel.js-carousel
      h2 Site Carousel

    .contentWrapper.js-contentWrapper
      .menuBar 
        a(href="#") 
          i.fa.fa-home.fa-4x
        a(href="#")
          i.fa.fa-desktop.fa-3x
        a(href="#")
          i.fa.fa-laptop.fa-2x

      br
      hr
      br

      img(src="images/color-palette.png" alt="")
      h3 Set up a web site: a pug page...
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ex, nemo labore. Rerum optio dolorem sit, fuga quia ipsum, saepe pariatur voluptatem aspernatur assumenda quaerat, enim architecto error reiciendis beatae quo illum accusantium autem magnam, dignissimos sapiente debitis ipsa earum natus. Assumenda ipsum numquam cum repellat quos voluptatem itaque temporibus.
 
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quidem, repellat hic quod earum eum ipsa magni impedit incidunt harum doloremque alias. Similique dolorem, provident impedit architecto illo natus, doloremque, quo explicabo porro, dicta dolores blanditiis voluptatum amet soluta nulla vero! Ut praesentium, vitae et ea voluptas nesciunt, tenetur eius.

    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum odit qui, praesentium incidunt asperiores voluptates, similique, expedita nesciunt rem debitis vel nihil consequuntur fugit amet architecto, aspernatur in modi. Ducimus esse unde, error atque. Sequi fugit esse in, atque distinctio a quaerat, cumque sunt eum tempore quia corrupti accusantium totam mollitia rerum, magni ducimus minima recusandae soluta et maxime illum itaque omnis. Aut cumque est maiores laboriosam quas voluptatibus explicabo harum molestiae laborum? Veritatis quia vero placeat totam unde commodi est veniam error et possimus nisi qui beatae aspernatur ipsum odio temporibus velit labore, necessitatibus ipsa saepe, cumque. Repellat quaerat, numquam animi sit. Necessitatibus impedit laborum magni deleniti, odit illum repudiandae nulla adipisci, asperiores dolores fuga eveniet! Facilis doloribus provident pariatur illum minus, nostrum a quod laudantium voluptatem animi blanditiis qui. Aliquid earum, sequi cumque laudantium nisi quia. Ex earum adipisci magnam perspiciatis aperiam quaerat quibusdam reiciendis ut laboriosam eaque excepturi dolorum modi minus dolore velit quasi inventore sapiente, aspernatur nesciunt minima nisi voluptates id. Odit sit illo rerum, veniam eveniet impedit dolores ullam consequuntur possimus. Vitae doloribus veritatis, omnis harum quos possimus maiores, hic aliquam perspiciatis quis iusto! Ea, repudiandae incidunt accusantium necessitatibus inventore nam doloremque odio dolorem, voluptatibus tenetur autem qui quia blanditiis minus maiores, nemo hic consectetur, molestias porro tempore sit deleniti in corporis facilis. Reiciendis atque aspernatur omnis quasi ab minus, sunt repellat laborum suscipit, debitis ducimus delectus ipsa error sint quaerat recusandae enim. Molestiae ut officiis maxime nisi accusantium nihil dolore. Sequi, id, beatae.

    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut similique, laborum molestiae accusantium animi, nemo natus voluptates soluta temporibus doloribus eum! Possimus nostrum velit sequi repudiandae quo consequuntur unde dignissimos cupiditate incidunt deleniti officiis qui tempora illo magni alias totam, deserunt dolorem labore nulla! Praesentium dolor consequatur fuga, totam vitae, voluptatem placeat. Eveniet accusantium nobis necessitatibus odio, veniam tempora, in, eius tenetur illo temporibus quisquam facere error corporis quidem alias maiores amet. Nobis tenetur iusto asperiores blanditiis non vel voluptatibus nihil, nemo vero totam culpa alias dicta ad, minus soluta sed molestiae dolorem temporibus quis. Magni blanditiis enim consectetur quibusdam debitis quasi consequuntur, obcaecati optio, non esse harum iure incidunt. Animi nisi porro modi nesciunt quae laboriosam, dolorum accusantium! Dicta excepturi aliquid earum voluptate cupiditate blanditiis et expedita consectetur rerum facere quod atque incidunt libero vero, magnam beatae modi qui, facilis omnis deleniti, aperiam. Quae vel at praesentium, delectus exercitationem. Sed non iure praesentium! Nemo cupiditate at perferendis odit repudiandae aliquid sequi praesentium fuga illo beatae asperiores voluptate fugit architecto temporibus error, eius, autem dicta? Accusamus reprehenderit consectetur, quidem facere reiciendis excepturi, impedit beatae ipsa rem esse, odit veniam numquam! Porro assumenda rem eos minima totam illum velit sint fugit rerum veritatis, iste ipsa saepe consequatur corrupti ea, magnam eveniet reiciendis? Deleniti debitis velit voluptate, recusandae quisquam veniam dolorem dolor expedita consequatur. Fugit id harum dolorum inventore quisquam maiores suscipit assumenda, iusto nihil delectus doloribus ratione neque porro ducimus maxime eligendi, itaque illum esse repellat aliquid qui necessitatibus magnam voluptatem. Explicabo officiis nostrum repellat, nam laboriosam quia consequatur eos nulla, libero sunt quod quisquam eum illo inventore labore necessitatibus est aut accusantium minima harum pariatur facilis dignissimos. Laborum perspiciatis, atque optio deleniti eaque fugit cum provident nihil maiores beatae repellendus nisi, cupiditate quia doloribus. Maxime placeat ipsum laborum, commodi quidem quia! Asperiores iste praesentium aspernatur ab quia, voluptatem beatae aliquid culpa repellendus vero itaque amet magnam nobis odit fuga. Illo cum ipsam ducimus quod, nesciunt cumque magnam optio dolore esse consequatur dolorem necessitatibus iusto, dolor eius voluptates, distinctio repellendus inventore perspiciatis nisi hic! Autem, explicabo consequatur quis earum. Nemo repellat reprehenderit delectus accusantium possimus suscipit, quod enim sapiente libero. Consequatur nesciunt quis doloribus culpa. Repudiandae soluta a facere quibusdam reprehenderit quas laudantium cum voluptates dolor temporibus libero, dicta architecto, iure obcaecati accusantium in officiis fugiat accusamus veritatis beatae id vitae atque! Qui quae sunt fugiat quibusdam animi voluptate possimus consequatur obcaecati temporibus, odit! Rem, molestiae omnis porro quidem, in non laboriosam ex sequi aspernatur. Doloribus aliquam, repudiandae hic dicta vel accusamus assumenda dolorem veniam rerum porro, repellat nulla eveniet. Tempora nemo asperiores iste assumenda? Blanditiis unde debitis eum fugiat, officia quibusdam nihil asperiores eveniet. Quae perferendis voluptatum, ad explicabo rerum recusandae reiciendis officia molestias et sint sequi quia officiis perspiciatis amet temporibus quo aliquid eos error laboriosam iure? Accusantium sed deleniti eaque molestias architecto atque, doloremque reprehenderit itaque omnis dolorem maxime voluptas explicabo repudiandae, expedita in vel quia, labore consequuntur nesciunt cum officiis tenetur quidem incidunt non. Asperiores beatae, corrupti!