doctype
html
  head
    title Site Setup
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(http-equiv="Content-Language", content="en")

  body

    .l-pageContainer.pageContainer
      .l-pageHeader.pageHeader
        .l-navContainer.navContainer
        .l-menuWrapper.menuWrapper.js-menuWrapper

      .l-pageContentWrapper.pageContentWrapper
        .l-contentContainer.contentContainer
          .galleryContainer
            h1.galleryTitle Europe 2017

            .imageGridContainer.js-imageGridContainer
              .gridSizer.js-gridSizer(data-grid-gutter="0")
                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/130_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/131_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/132_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/133_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/134_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/135_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/136_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/137_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/138_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/139_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/140_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/141_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/142_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/143_t.jpg")

                .grid.js-grid
                  a(href="#")
                    img(src="http://cdn.tmasdigital.com/non_secure/images/temp_mastersite/galleries/130_t.jpg")


      .l-pageFooter.contentFooterContainer
        .footerPanel.footerPanel--links
          .footerPanel__item.footerPanel__item--default
            ul
              li
                a(href="#")
                  span Help
              li
                a(href="#")
                  span Newsletter
              li
                a(href="#")
                  span Terms of Use
              li
                a(href="#")
                  span Privay Policy

          .footerPanel__item.footerPanel__item--copyright
            | Copyright &copy; 2017 Artist Site

