doctype
html
  head
    title Site Setup

  body

    .l-pageContainer.pageContainer
      .l-pageHeader.pageHeader
        h2 Site Layout

      .l-pageContentWrapper.pageContentWrapper

      .l-pageFooter.contentFooterContainer
