doctype
html
  head
    title Webpack2 Setup

  body
    .utilityNav.js-utilityNav
      h2 Social Links

    .siteNav.js-siteNav
      h2 Site Navigation

    .carousel.js-carousel
      h2 Site Carousel

    .menuBar 
      a(href="#") 
        i.fa.fa-home.fa-4x
      a(href="#")
        i.fa.fa-desktop.fa-3x
      a(href="#")
        i.fa.fa-laptop.fa-2x

    br
    hr
    br

    img(src="images/color-palette.png" alt="")
    h3 Set up a web site: a pug page...

    .contentWrapper
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ex, nemo labore. Rerum optio dolorem sit, fuga quia ipsum, saepe pariatur voluptatem aspernatur assumenda quaerat, enim architecto error reiciendis beatae quo illum accusantium autem magnam, dignissimos sapiente debitis ipsa earum natus. Assumenda ipsum numquam cum repellat quos voluptatem itaque temporibus.
 
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quidem, repellat hic quod earum eum ipsa magni impedit incidunt harum doloremque alias. Similique dolorem, provident impedit architecto illo natus, doloremque, quo explicabo porro, dicta dolores blanditiis voluptatum amet soluta nulla vero! Ut praesentium, vitae et ea voluptas nesciunt, tenetur eius.

    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum odit qui, praesentium incidunt asperiores voluptates, similique, expedita nesciunt rem debitis vel nihil consequuntur fugit amet architecto, aspernatur in modi. Ducimus esse unde, error atque. Sequi fugit esse in, atque distinctio a quaerat, cumque sunt eum tempore quia corrupti accusantium totam mollitia rerum, magni ducimus minima recusandae soluta et maxime illum itaque omnis. Aut cumque est maiores laboriosam quas voluptatibus explicabo harum molestiae laborum? Veritatis quia vero placeat totam unde commodi est veniam error et possimus nisi qui beatae aspernatur ipsum odio temporibus velit labore, necessitatibus ipsa saepe, cumque. Repellat quaerat, numquam animi sit. Necessitatibus impedit laborum magni deleniti, odit illum repudiandae nulla adipisci, asperiores dolores fuga eveniet! Facilis doloribus provident pariatur illum minus, nostrum a quod laudantium voluptatem animi blanditiis qui. Aliquid earum, sequi cumque laudantium nisi quia. Ex earum adipisci magnam perspiciatis aperiam quaerat quibusdam reiciendis ut laboriosam eaque excepturi dolorum modi minus dolore velit quasi inventore sapiente, aspernatur nesciunt minima nisi voluptates id. Odit sit illo rerum, veniam eveniet impedit dolores ullam consequuntur possimus. Vitae doloribus veritatis, omnis harum quos possimus maiores, hic aliquam perspiciatis quis iusto! Ea, repudiandae incidunt accusantium necessitatibus inventore nam doloremque odio dolorem, voluptatibus tenetur autem qui quia blanditiis minus maiores, nemo hic consectetur, molestias porro tempore sit deleniti in corporis facilis. Reiciendis atque aspernatur omnis quasi ab minus, sunt repellat laborum suscipit, debitis ducimus delectus ipsa error sint quaerat recusandae enim. Molestiae ut officiis maxime nisi accusantium nihil dolore. Sequi, id, beatae.