@import "sass/base/all-base";
@import "sass/layout/all-layouts";
@import "sass/modules/all-modules";

// Test section:
#wrapper {
  background-color: wheat;
  width: 100%;

  .cp_header {
    background-color: yellowgreen;
    width: 100%;
  }

  .cp_banner_full_width {
    background-color: seagreen;
    width: 100%;
  }

  #cp-main-content {
    // background-color: paleturquoise;
    $color-green: #00ffaa;
    $color-background: #111;
    $color-text: #555;
    background: $color-background;
    color: $color-text;
    font-size: 18px;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    .scene {
      margin: 0;
      padding: 0;
    }

    @for $i from 1 through 6 {
      .layer:nth-child(#{$i}) {
        opacity: #{0.15 * $i};

        button {
          transform: rotate(#{180 - 30 * $i}deg)
        }
      }
    }
  }

  .cp_footer {
    background-color: violet;
    width: 100%;
  }
}

// smooth scrolling page
#page-wrap { 
  max-width: 500px; 
  margin: 1rem auto;
  padding: 1rem;
  
  h1, h2 {
    line-height: 1.2;
  }

  p, ul, h1 { 
    margin: 0 0 1rem 0; 
  }
}
