@import "sass/base/all-base";
@import "sass/layout/all-layouts";
@import "sass/modules/all-modules";

// Test section:
#wrapper {
  background-color: wheat;
  width: 100%;

  .cp_header {
    background-color: yellowgreen;
    width: 100%;
  }

  .cp_banner_full_width {
    background-color: seagreen;
    width: 100%;
  }

  #cp-main-content {
    // background-color: paleturquoise;
    $color-green: #00ffaa;
    $color-background: #111;
    $color-text: #555;
    background: $color-background;
    color: $color-text;
    font-size: 18px;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    .scene {
      margin: 0;
      padding: 0;
    }

    @for $i from 1 through 6 {
      .layer:nth-child(#{$i}) {
        opacity: #{0.15 * $i};

        button {
          transform: rotate(#{180 - 30 * $i}deg)
        }
      }
    }
  }

  .cp_footer {
    background-color: violet;
    width: 100%;
  }
}

// smooth scrolling page
#page-wrap { 
  max-width: 500px; 
  margin: 1rem auto;
  padding: 1rem;

  h1, h2 {
    line-height: 1.2;
  }

  p, ul, h1 { 
    margin: 0 0 1rem 0; 
  }
}

.parallax {
  /* The image used */
  background-image: url("/public/images/dog-in-snow.jpg");

  /* Set a specific height */
  min-height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .caption {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;

    span.border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
    }
  }
}

.parallaxPageContent {
  height:8000px;
  background-color:tomato;
  font-size:36px
}

// Parallax 2 
// body, html {
//   height: 100%;
//   margin: 0;
//   font: 400 15px/1.8 "Lato", sans-serif;
//   color: #777;
// }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("/public/images/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/public/images/img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("/public/images/img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}

// Parallax-3
h1 {
  color: #ccc;
  font-weight: 300;
}

figure {
  margin: auto;
}

.content {
  article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}

img {
  max-width: 100%
}

.bird-box {
  position: relative;
  height: 600px;
  background: url(/public/images/bird-bg.jpg) top center;
  background-attachment: fixed;
  background-size: auto 600px;
  overflow: hidden;

  .back-bird {
    width: 960px;
    height: 298px;
    background: url(/public/images/back-bird.png) top left no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -480px;
  }

  .logo {
    height: 100px;
    width: 100%;
    background: url(/public/images/black-bird-logo.svg) center no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
  }

  .fore-bird {
    width: 960px;
    height: 733px;
    background: url(/public/images/fore-bird.png) right bottom no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    top: 380px;
  }
}

  