doctype
html
  head
    title Site Setup

  body

    .l-pageContainer.pageContainer
      .l-pageHeader.pageHeader
        .l-navContainer.navContainer(style="background: tomato;")
          h2 Site Navigation
        .l-menuWrapper.menuWrapper.js-menuWrapper(style="background: green;")
          h2 Menu

      .l-pageContentWrapper.pageContentWrapper
        h2 Site Layout

      .l-pageFooter.contentFooterContainer
        .footerPanel.footerPanel--links
          .footerPanel__item.footerPanel__item--default
            ul
              li
                a(href="#")
                  span Help
              li
                a(href="#")
                  span Newsletter
              li
                a(href="#")
                  span Terms of Use
              li
                a(href="#")
                  span Privay Policy

          .footerPanel__item.footerPanel__item--copyright
            | Copyright &copy; 2017 Artist Site

