doctype
html
  head
    title Site Setup

  body

    .l-pageContainer.pageContainer
      .l-pageHeader.pageHeader
        h2 Site Header

      .l-pageContentWrapper.pageContentWrapper
        h2 Site Layout

      .l-pageFooter.contentFooterContainer
        .footerPanel.footerPanel--links
          .footerPanel__item.footerPanel__item--default
            ul
              li
                a(href="#")
                  span Help
              li
                a(href="#")
                  span Newsletter
              li
                a(href="#")
                  span Terms of Use
              li
                a(href="#")
                  span Privay Policy

          .footerPanel__item.footerPanel__item--copyright
            | Copyright &copy; 2017 Artist Site

