doctype
html
  head
    title Site Setup
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(http-equiv="Content-Language", content="en")

  body

    .l-pageContainer.pageContainer
      .l-pageHeader.pageHeader
        .l-navContainer.navContainer
        .l-menuWrapper.menuWrapper.js-menuWrapper

      .l-pageContentWrapper.pageContentWrapper
        .l-contentContainer.contentContainer
          .galleryContainer
            .videoGallery
              .title(style="background: tomato;")
                span Video Galleries

              .imagePanel(style="background-image: url(images/v_01.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle Europe: 2017

              .imagePanel(style="background-image: url(images/v_02.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle South America Tour

              .imagePanel(style="background-image: url(images/v_03.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle 2009 Photo Album

              .imagePanel(style="background-image: url(images/v_04.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle 2010 Photo Album

              .imagePanel(style="background-image: url(images/v_05.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle 930 Club- Washington DC

              .imagePanel(style="background-image: url(images/v_06.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle Revolution- Ft Lauderdale FL

              .imagePanel(style="background-image: url(images/v_07.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle House of Blues- Orlando FL

              .imagePanel(style="background-image: url(images/v_08.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle The Horde of Dust

              .imagePanel(style="background-image: url(images/v_09.jpg);")
                .imagePanel__frame
                  a.frammeLink(href="#")
                    .frammeTitle Photos by: Andrew Stuart

      .l-pageFooter.contentFooterContainer
        .footerPanel.footerPanel--links
          .footerPanel__item.footerPanel__item--default
            ul
              li
                a(href="#")
                  span Help
              li
                a(href="#")
                  span Newsletter
              li
                a(href="#")
                  span Terms of Use
              li
                a(href="#")
                  span Privay Policy

          .footerPanel__item.footerPanel__item--copyright
            | Copyright &copy; 2017 Artist Site

