extends ../templates/layout

block pageTitle 
  title Index Page

block pageContent
  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto accusamus a, ipsa quasi exercitationem? Reprehenderit!
  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum, debitis voluptates!
  div This is the landing page

//- block content
//-   include includes/article
//-   include includes/article
//-   include includes/article
