doctype html

html
  head
  meta(charset="utf-8")
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  title Paper

  link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900')
  
  link(rel="stylesheet" href="main.css")

  body
    #wrapper
      header.cp_header
        .cp-navigation-row
          | Inside site navigation

      .cp_banner_full_width
        .cp-slider-block
          .cp_banner
            | Banner

      #cp-main-content
        | Main content

      footer.cp_footer
        | Footer section
