
doctype html

html
  head
  meta(charset="utf-8")
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="apple-mobile-web-app-capable" content="yes")

  title Parallax 2

  link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900')
  
  link(rel="stylesheet" href="main.css")

  body
    #wrapper
      header.cp_header
        .cp-navigation-row
          | Scroll down to try parallax effect

      .parallax
        .caption
          span.border SCROLL DOWN
          
      .parallaxPageContent.
        something interesting in the snowy winter

      footer.cp_footer
        | Footer section
