$colorBlue: yellow;
$colorTomato: tomato;
$colorGreen: green;
$colorOrgange: orange;

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;

  .nav {
    margin-top: -1px;
    max-width: 100%;
    background: #f7f7f7;
    height: 70px;
    padding-left: 10px;

    ul, ol {
      list-style: none;

      li, a {
        display: inline-block;
        list-style-type: none;
        text-decoration: none;
        padding: 13px;

        a.menuItem--active {
          color: #cddead;
          background: rgba(255,255,255,0.9);
        }
      }

      li {
        display: inline-block;
        list-style-type: none;
        text-decoration: none;
        padding: 13px;

        a {
          // background: rgba(255,255,255,0.9);
          font: normal 500 0.9em 'brandon-grotesque', arial, sans-serif;
          text-decoration: none;
          color: #ccc;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}

.contentWrapper {
  position: relative;
  // top: 65px;
  top: 150px;
  width: 100%;
  z-index: 7;
}

.utilityNav {
  background-color: $colorTomato;
  min-height: 70px;
  width: 100%;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: opacity .5s, transform 2s;

  @include mobile() {
    display: none;
  }
}

.semiNav {
  background-color: $colorGreen;
  min-height: 80px;
  width: 100%;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  transition: opacity .5s, transform 2s;

  @include mobile() {
    display: none;
  }
}

.siteNav {
  background-color: $colorGreen;
  min-height: 90px;
  width: 100%;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: opacity .5s, transform 2s;
}

.carousel {
  background-color: $colorOrgange;
  min-height: 150px;
  width: 100%;
  text-align: center;
  transition: opacity .5s, transform 2s;

  @include desktop() {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
  }
}

.bandWrapper {
  background-color: $colorOrgange;
}

// .contentWrapper {
//   width: 75%;
//   margin: auto;
//   padding: 50px;
//   border: 1px solid $colorBlue;

//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }