$colorBlue: yellow;
$colorTomato: tomato;

.utilityNav {
  background-color: $colorTomato;
  min-height: 70px;
  width: 100%;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  @include desktop() {
    display: block;
  }
}

.contentWrapper {
  width: 75%;
  margin: auto;
  padding: 50px;
  border: 1px solid $colorBlue;

  display: flex;
  justify-content: space-around;
  align-items: center;
}