//  Site Settings for This Site
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Content Page
//   3. Breakpoints
//   4. Typography
//
//
//
// 1. Global
// ---------
// Use this site to look up color names
// http://www.color-blindness.com/color-name-hue/
$global-font-size = 16px
$global-lineheight = 1.5
$color-palette = (primary: #2199e8, secondary: #777777, success: #3adb76, warning: #ffae00, alert: #ec5840)
$color-white = white
$color-black = black
$color-grey = #7e7e7e
$color-grey-night-rider = rgba(255, 255, 255, 0.2)
$color-tiber = #e2e2e2
$color-jewel = #d6b161
$color-nero = #222222
$color-iris-blue = #0ca4e1
$color-malibu = #57b9e5
$color-gainsboro = #e8e8e8
$color-trout = #475058
$color-mine_shaft = #333333
$color-wild_sand = #f4f4f4
$color-storm_dust = #646464
$color-masala = #3c3b3b
$color-silver_chalice = #aaaaaa
$color-puerto_rico = #2ebaae
$color-desert_storm = #f8f8f8
$color-white_smoke = #f4f4f4
$color-dim_gray = #646464
$color-light-gray = #e6e6e6
$color-medium-gray = #cacaca
$color-dark-gray = #8a8a8a
$color-suva-gray = #909090
$color-secondary = #777777
$color-crimson = crimson
$color-nobel = #999999
$color-black_01 = #111111
$color-gray_01 = #7d7d7d
$color-sunglow = #fac43d
$color-fire_brick = 9c 1c 1c
$color-light-gray_01 = #d6d6d6
$color-charcoal = #444444
$color-summer_sky = #2991d6
$color-pacific_blue = #009cde
$color-mariner = #3b5999
$color-silver = #bcbcbc
$body-background = $color-white_smoke
$body-font-color = $color-dim_gray
$body-hover-color = $color-puerto_rico
$body-heading-color = $color-masala
$global-margin = 1rem
$global-padding = 1rem
$global-weight-normal = normal
$global-weight-bold = bold
$global-radius = 0
$global-flexbox = false
//
//
//
//   2. Content Page
// --------------
$content-background = $color-white
$content-font-color = $color-dark-gray
$content-divider-color = $color-tiber
//
//
//
// 3. Breakpoints
// To be used by @mixin break($size)
// --------------
$breakpoints = (xs: 16rem, sm: 25.875rem, md: 56rem, lg: 64rem, xl: 76.5rem, xx: 95rem)
//
//
//
// 4. Typography
// ---------------------
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900|Open+Sans:300,400,600,700|Homenaje|Yanone+Kaffeesatz")
$font-primary = "Source Sans Pro"
$font-primary_1 = Homenaje
$font-primary_2 = "Yanone Kaffeesatz"
$font-primary_3 = "Open Sans"
$font-secondary = Helvetica
$font-secondary_1 = sans-serif
$font-secondary_2 = serif
$font-secondary_3 = Arial
$font-secondary_4 = Tahoma
$body-font-family = $font-primary, $font-secondary, $font-secondary_1
$lead-font-size = $global-font-size * 1.25
$site-font-size = $global-font-size
$header-sizes = ("h1": 3.5rem, "h2": 1.5rem, "h3": 0.9rem, "h4": 0.8rem, "h5": 0.7rem, "h6": 0.6rem)
