/// Gets a font value.
/// @param {string} $key.
/// @return {string} Value.
/// $header-sizes is defined in the site-settings
@function _headerFont($key) {
	@return map-get($header-sizes, $key);
}

/// Gets a duration value.
/// @param {string} $key.
/// @return {string} Value.
@function _duration($key) {
	@return map-get($duration, $key);
}


/// Gets a misc value.
/// @param {string} $key.
/// @return {string} Value.
@function _misc($key) {
	@return map-get($misc, $key);
}

/// @deprecated: replaced by _color() function
/// Gets a palette value.
/// @param {string} $key.
/// @return {string} Value.
@function _palette($key) {
	@return map-get($palette, $key);
}

/// Added @Version 2.0.0
/// @param {string} $key.
/// @return {string} Value.
@function _color($key) {
	@return map-get($color-palette, $key);
}

/// Gets a size value.
/// @param {string} $key.
/// @return {string} Value.
@function _size($key) {
	@return map-get($size, $key);
}
