.blockquotes
  p
    em admin menu
    span(*ngIf="currentUser") {{currentUser}} Logged in

.navbar
  ul.menu
    li
      a([routerLink]="['/admin/blog-admin']") Manage Blog

    li(*ngIf="currentUser")
      a(href="/" (click)="logout") Logout
