div admin menu
  div
    ul
      li
        a([routerLink]="['/admin/blog-admin']") Manage Blog


  div(*ngIf="currentUser")
    ul
      li
        a(href="/" (click)="logout") Logout
      li
        a {{currentUser}} Logged in


