doctype html
html
  head
    block pageTitle

    include includes/head

  body
    .l-containerWraper
      include includes/header

      .l-mainContainer
        .l-mainContent

          block pageContent

        include includes/footer

    script(src='./vendor.js')
    script(src='./main.js')
