doctype html
html
  head
    include includes/head
  body
    .l-containerWraper
      include includes/header

      .l-mainContainer
        .l-mainContent

          block content

        include includes/footer

    //- script(href='./main.js')
