ul.songList
  li(songList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(userList).checked Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(songList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(userList).checked Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(userList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(userList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(userList).checked Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(songList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(songList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(songList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
  li(userList) Artist Songs are listed here.
    span.close
      i.fa.fa-times
hr

lyrics([lyricText]="'A beautiful, melancholy story.'")
lyrics([lyricsEdited]="'A beautiful, melancholy story.'")
lyrics([lyricText]="'A beautiful, melancholy story.'")

