div This is the Music component
  p(songList) Artist Songs are listed here.
  p(userList) Artist Songs are listed here.
  p(songList) Artist Songs are listed here.
  p(userList) Artist Songs are listed here.

  lyrics([lyricText]="'A beautiful, melancholy story.'")
  lyrics([lyricsEdited]="'A beautiful, melancholy story.'")
  lyrics([lyricText]="'A beautiful, melancholy story.'")
